* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --blue: #0f649b;
    --blue-nav: #1178ba;
    --red: #b31e23;
    --darkred: #8f181c; /* button hover color */
    --lightblue: #1482C9;
    --lightdarkblue: #1068a0; /* button hover color */
}

@media (max-aspect-ratio: 840/845) {
    
}

@media (max-width: 1000px) { 
    body header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(Images/img3variants/img3-1000.webp);
    }
}

@media (min-width: 1001px) and (max-width: 1500px) {
    body header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(Images/img3variants/img3-1500.webp);
    }
}

@media (min-width: 1501px) and (max-width: 2000px) {
    body header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(Images/img3variants/img3-2000.webp);
    }
}

@media (min-width: 2001px) and (max-width: 2500px) {
    body header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(Images/img3variants/img3-2500.webp);
    }
}

@media (min-width: 2501px) {
    body header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(Images/img3variants/img3-3000.webp);
    }
}

header {
    position: relative;
    min-height: 50vh;
    background: sandybrown;
    background-size: cover;
}

header div:first-of-type {
    padding: 5rem 3rem;
}

header div * {
    color: white
}

header div h1 {
    font-size: 4em;
    padding-bottom: 1em;
}

header div p {
    font-size: 2em;
}

.bottom-wave-transition {
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.bottom-wave-transition svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 51px;
}

.bottom-wave-transition .shape-fill {
    fill: #F7F7F7;
}

.donations {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donations h2 {
    text-align: center;
    font-size: 2.5em;
}

.donations label {
    color: white;
    padding: 1em 1.25em;
    font-size: 1.75em;
    cursor: pointer;
    user-select: none;
    border-radius: 15px;
    max-width: 15rem;
    max-height: 4rem;
    background-color: var(--lightblue);
    transition: all 0.25s ease;
}

.donations label:hover {
    background-color: var(--lightdarkblue);
}

#open {
    display: none;
}

.donations label:last-of-type {
    display: none;
}

.donations:has(#open:checked) .gofundmeDonation {
    display: none;
}

.donations:has(#open:checked) label:last-of-type {
    display: inline-block;
}

.donations:has(#open:checked) label:first-of-type {
    display: none;
}

.donations div {
    display: flex;
    gap: 1rem;
    padding-inline: 2rem;
    padding-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.gofundmeDonation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(200px, 20%,500px)
}

.gofundmeDonation img {
    width: 80%;
}