* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --blue: #0f649b;
    --red: #b31e23;
    --darkred: #8f181c; /* button hover color */
    --lightblue: #1482C9;
    --lightdarkblue: #1068a0; /* button hover color */
}

@media (max-aspect-ratio: 840/845) { /* First part is for the hamburger mobile menu */
    
    body #navigation {
        padding: 3rem 0;
    }

    #navigation #nav-pc ul{
        display: none;
    }

    body #div-mobile {
        display: block;
    }

    .hamburger-menu {
        --height-of-x: calc(1.9rem * 1.41421356237);
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: fit-content;
        position: absolute;
        left: 1.5rem;
        top: 0.8rem;
        z-index: 2;
        cursor: pointer;
    }

    .hamburger-menu input, .hamburger-menu::before, .hamburger-menu::after {
        content: "";
        width: 3rem;
        height: 0.3rem;
        border-radius: 999px;
        transform-origin: left center;
        background-color: black;
        transition: all 0.2s ease-in-out;
    }

    .hamburger-menu:has(input:checked) {
        position: fixed;
    }

    .hamburger-menu input {
        appearance: none;
        outline: none;
        pointer-events: none;
    }

    .hamburger-menu input:checked {
        opacity: 0;
    }

    .hamburger-menu:has(input:checked)::before {
        rotate: 45deg;
        width: var(--height-of-x);
        translate: 0 calc(0.3rem / -2);
        background-color: white;
    }

    .hamburger-menu:has(input:checked)::after {
        rotate: -45deg;
        width: var(--height-of-x);
        translate: 0 calc(0.3rem / 2);
        background-color: white;
    }

    #sidebar {
        translate: -200% -21%;
        transition: all 0.2s ease-in-out;
        padding: 1rem;
        padding-top: calc(1.9rem + 0.8rem + 1rem + 4.5rem);
        color: white;
        max-width: 10rem;
        min-height: 100lvh;
        background-color: rgba(0, 0, 0, 0.85);
        position: fixed;
        z-index: 1;
    }

    #sidebar nav ul {
        list-style-type: none;
    }

    #sidebar nav ul li:first-child {
        padding-top: calc(1.9rem + 0.8rem + 1rem + 0.5rem);
    }

    #sidebar nav ul li p {
        width: fit-content;
        margin-bottom: 1rem;
        cursor: pointer;
        padding-right: 0.5em;
    }

    .hamburger-menu:has(input:checked) + #sidebar {
        translate: 0% -21%;
    }

    body #nav-pc img {
        position: absolute;
        height: clamp(30px, 8vw, 3.25rem);
        right: 2rem;
        top: 1rem;
    }

    body #hero div h1 { /* changing size to fit mobile screens */
        font-size: 3em;
    }

    .img-text-content.img-text-content { /* this for the sections optimized for mobile */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .img-text-content.img-text-content img {
        margin: 0;
        max-width: 80vw;
        max-height: 80vw;
    }

    .img-text-content.img-text-content div p {
        margin-inline: 0.5em;
    }

    #last-project .img-text-content.img-text-content {
        flex-direction: column-reverse;
    }

    #last-project .img-text-content.img-text-content div p {
        text-align: left;
    }

    .three-related-content-together.three-related-content-together .three-goals { /* goals sections */
        display: flex;
        flex-wrap: wrap;
        margin-inline: 0.5em;
        gap: 2rem;
    }

    .donation-content.donation-content div h2 { /* donation */
        font-size: 2em;
    }

    #photo-gallery .photos div:last-of-type {
        grid-template-columns: 1fr;
    }

    div #middle-img {
        position: static;
        transform: rotate(-30deg);
        max-width: 40%;
    }
}



section {
    position: relative;
}

#navigation {
    background-color: var(--blue);
    padding: 1rem 0;
    position: relative;
}

#nav-pc {
    display: flex;
}

#nav-pc img {
    max-height: 3.25rem;
    padding-left: 3rem;
}

#nav-pc ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style-type: none;
    width: 100%;
}

#nav-pc ul * {
    display: grid;
    place-items: center;
}

#nav-pc ul * p {
    font-size: 1.25rem;
    cursor: pointer;
    color: white;
    text-align: center;
    padding-inline: 0.5rem;
}

#div-mobile {
    display: none;
}

#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(Images/img4.jpg);
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    position: relative;
    overflow: hidden;
}

#hero div {
    padding: 5rem 3rem;
}

#hero div h1, #hero div p {
    color: white;
}

#hero div h1 {
    font-size: 4em;
    max-width: 8ch;
}

#hero div p {
    margin-top: 1rem;
    font-size: 2em;
    max-width: 50ch;
}

#hero div button {
    cursor: pointer;
    margin-top: 1em;
    max-width: 15rem;
    max-height: 4rem;
    border: none;
    border-radius: 15px;
    background: var(--red);
    transition: all 0.25s ease;
}

#hero div button:hover {
    background: var(--darkred);
}

#hero div button p {
    font-size: 1.75em;
    margin: 0;
    padding: 1em 0.75em;
    color: white;
}
/*
#hero::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; 
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #f7f7f7 100%);
    z-index: 2;
  }
*/

.bottom-wave-transition {
    position: absolute;
    bottom: -85px;
    left: -48px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    height: 0px;
    transform: rotate(180deg);
}

.bottom-wave-transition svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 51px;
}

.bottom-wave-transition .shape-fill {
    fill: #F7F7F7;
}

#about {
    position: relative;
}

.img-text-content {
    background-color: #f7f7f7;
    min-height: 300px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
}

.img-text-content img {
    max-width: 40vw;
    max-height: 40vw;
    border-radius: 10px;
}

.img-text-content div {
    max-width: 60ch;
    display: flex;
    flex-direction: column;
}

.img-text-content div h2 {
    font-size: 2.5em;
    text-align: center;
    margin: 0.25em;
}

.img-text-content div hr, .instagram-content div hr {
    border-top: 3px dashed var(--blue);
}

.img-text-content div p {
    margin-top: 0.5em;
    text-align: left;
    font-size: 1.5em;
    color: #696969;
}

.img-text-content div button, .instagram-content div button, .donation-content div button, .photos button {
    cursor: pointer;
    margin-top: 1em;
    max-width: 15rem;
    max-height: 4rem;
    border: none;
    border-radius: 15px;
    align-self: center;
    background-color: var(--lightblue);
    transition: all 0.25s ease;
}

.img-text-content div button:hover, .instagram-content div button:hover,  .donation-content div button:hover, .photos button:hover {
    background-color: var(--lightdarkblue);
}

.img-text-content div button p, .instagram-content div button p, .donation-content div button p, .photos button p {
    font-size: 1.75em;
    margin: 0;
    padding: 1em 0.75em;
    color: white;
}

.wave-two {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-two svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 51px;
    transform: rotateY(180deg);
}

.wave-two .shape-fill {
    fill: #FFFFFF;
}

#goals {
    position: relative;
}

.three-related-content-together {
    background-color: #ffffff;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.three-related-content-together .three-goals-heading h2 {
    font-size: 2.5em;
    margin-bottom: 0.25em;
}

.three-related-content-together .three-goals-heading hr {
    border-top: 3px dashed var(--blue);
    margin-bottom: 3rem;
}

.three-related-content-together .three-goals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-inline: 5rem;
}

.three-related-content-together .three-goals h3 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

.three-related-content-together .three-goals p {
    font-size: 1.5em;
    color: #696969;
    text-align: center;
}

.quote-content {
    padding: 80px 0;
    background-image: linear-gradient(rgba(1, 102, 156, 0.8), rgba(1, 102, 156, 0.8)), url(Images/img1.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}

.quote-box {
    padding: 3rem;
    max-width: 50%;
    background-color: rgba(0, 91, 140, 0.8);
    border-radius: 1.5rem;
    color: white;
}

.quote-box q {
    font-size: 1.5em;
    line-height: 50px;
}

.quote-box p {
    text-align: right;
    font-size: 1.5em;
}

#last-project .img-text-content {
    background-color: white;
}

#last-project .img-text-content div p {
    text-align: center;
}

#last-project .wave-two .shape-fill {
    fill: var(--blue);
}

.photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 80px 0;
    background-color: var(--blue);
}

.photos div:first-of-type h2 {
    font-size: 2.5em;
    margin: 0.25em;
    color: white;
}

.photos div:first-of-type hr {
    border-top: 3px dashed white;
    border-bottom: 0px;
}

.photos p {
    font-size: 1.5em;
    color: white;
    text-align: center;
}

.photos img {
    border-radius: 10px;
}

.photos div:last-of-type {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 2rem;
}

.photos div:last-of-type img {
    max-width: 40%;
}

.photos div:last-of-type img:nth-of-type(even) {
    transform-origin: center;
    transform: rotate(30deg);
}

.photos div:last-of-type img:nth-of-type(odd) {
    transform-origin: center;
    transform: rotate(-30deg);
}

#middle-img {
    max-width: 20%;
    position: absolute;
    top: 35%;
    transform: rotate(0deg);
}

#photo-gallery .photos button {
    background-color: var(--red);
}

#photo-gallery .photos button:hover {
    background-color: var(--darkred);
}

#photo-gallery .wave-two svg .shape-fill {
    fill: #f7f7f7;
}

.instagram-content {
    padding: 80px 0;
    background-color: #F7F7F7;
}

.instagram-content div {
    width:fit-content;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
}

.instagram-content div h2 {
    font-size: 2.5em;
    margin: 0.25em 0;
    text-align: center;
}

.instagram-content div hr {
    margin-bottom: 1em;
}

.donation-content {
    padding: 80px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(Images/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}

.donation-content div {
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

.donation-content div h2 {
    color: white;
    font-size: 45px;
    text-align: center;
}

.donation-content div p {
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin: 0.5em 0;
}

.footer-content {
    padding: 20px 40px;
}

.footer-content div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-content div p {
    color: #696969;
}